<div id="vertical-menu-box">
<ul>
    <li><a href='/Admin/Admin/Index'><span>Inicial</span></a></li>
    <li><a href='/Admin/Secao/Index'><span>Seções de Conteúdo</span></a></li>
    <li><a href='/Admin/Faq/Index'><span>Perguntas Frequentes</span></a></li>
    <li><a href='/Admin/Link/Index'><span>Links Úteis</span></a></li>
    <li><a href='/Admin/GrupoTrabalho/Index'><span>Grupos de Trabalho</span></a></li>
    <li><a href='/Admin/Comite/Index'><span>Comitê de Programa</span></a></li>
    <li><a href='/Admin/Autentication/Logout'><span>Sair do Sistema</span></a></li>
</ul>
</div>