<div id="vertical-menu-box">
<ul>
    <li><a href='index'><span>Links Úteis</span></a></li>
    <li><a href='#'><span>Perguntas Frequentes</span></a></li>
    <li class='active'><a href='#'><span>Grupos de Trabalho</span></a></li>
    <li><a href='#'><span>Apoio</span></a></li>
</ul>
</div>